// views/profili/persona2.pug (Cristiano Ronaldo)
doctype html
html(lang="en")
  head
    title Profilo di Cristiano Ronaldo
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container-fluid.text-center
      h1 Profilo di Cristiano Ronaldo
      img(src="/img/Cristiano_Ronaldo_2018.jpg", alt="Immagine di Cristiano Ronaldo" class="img-fluid rounded-circle mt-4 mb-4")
      
      p Nazionalità: Portogallo
      p Data di nascita: 5 febbraio 1985
      p Ruolo: Attaccante / Ala
      p BIOGRAFIA 
      | Cristiano Ronaldo dos Santos Aveiro, meglio conosciuto come Cristiano Ronaldo, nasce il 5 febbraio 1985 a Funchal, in Portogallo. È un calciatore portoghese, considerato uno dei migliori giocatori di calcio di tutti i tempi.

      | Inizia la sua carriera giovanile nell'Andorinha, per poi passare allo Sporting Lisbona, dove ha attirato l'attenzione di molti club europei con le sue prestazioni straordinarie.

      | Nel 2003, Cristiano Ronaldo è stato acquistato dal Manchester United, dove ha trascorso sei stagioni di grande successo, vincendo numerosi trofei tra cui la Premier League e la UEFA Champions League.

      | Nel 2009, si è trasferito al Real Madrid per una cifra record, diventando rapidamente una delle stelle del club spagnolo. Con il Real Madrid, Ronaldo ha vinto quattro Champions League e ha stabilito numerosi record individuali.

      | Nel 2018, Cristiano Ronaldo ha firmato con la Juventus, portando il suo talento in Italia. Anche lì, ha continuato a dominare il campo, contribuendo alla vittoria della Serie A e ad altre competizioni.

      | A livello internazionale, Ronaldo ha rappresentato il Portogallo in numerose competizioni, incluso il Campionato Europeo e la Coppa del Mondo FIFA. È il miglior marcatore di tutti i tempi della nazionale portoghese e ha vinto il Campionato Europeo nel 2016.

      | Oltre alle sue abilità calcistiche straordinarie, Cristiano Ronaldo è noto anche per il suo impegno nel fitness e nello stile di vita sano. Ha una vasta base di fan in tutto il mondo e continua a ispirare le generazioni future di giocatori di calcio.
