// views/profili/persona3.pug (Neymar Jr.)
doctype html
html(lang="en")
  head
    title Profilo di Neymar Jr.
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container-fluid.text-center
      h1 Profilo di Neymar Jr.
      img(src="/img/gettyimages-973385442-612x612.jpg", alt="Immagine di Neymar Jr." class="img-fluid rounded-circle mt-4 mb-4")
      
      p Nazionalità: Brasile
      p Data di nascita: 5 febbraio 1992
      p Ruolo: Attaccante / Ala
      p BIOGRAFIA
      | Neymar da Silva Santos Júnior, noto come Neymar Jr., è nato il 5 febbraio 1992 a Mogi das Cruzes, in Brasile. È uno dei calciatori più talentuosi e famosi al mondo.

      | Neymar ha iniziato la sua carriera giovanile nel Santos FC, dove ha attirato l'attenzione per le sue abilità straordinarie e la sua velocità incredibile. Ha debuttato con la squadra senior nel 2009, e in breve tempo si è affermato come uno dei migliori giovani talenti del calcio mondiale.

      | Nel 2013, Neymar ha firmato con il Barcellona, uno dei club più prestigiosi al mondo. Con il Barcellona, ha vinto numerosi trofei, tra cui la UEFA Champions League e la Liga spagnola.

      | Nel 2017, Neymar ha deciso di trasferirsi al Paris Saint-Germain (PSG), stabilendo un nuovo record mondiale per il trasferimento più costoso nella storia del calcio. Con il PSG, ha continuato a mostrare il suo talento, contribuendo a vittorie in campionato e coppe nazionali.

      | A livello internazionale, Neymar ha rappresentato il Brasile in molte competizioni importanti, inclusi i Mondiali FIFA e la Copa America. È considerato uno dei migliori giocatori della nazionale brasiliana di tutti i tempi.

      | Oltre al suo talento calcistico, Neymar è anche conosciuto per la sua personalità carismatica e il suo stile di gioco spettacolare. Ha un seguito di fan devoti in tutto il mondo e continua a essere una delle figure più influenti nel mondo del calcio.
