// views/profili/persona1.pug (Lionel Messi)
doctype html
html(lang="en")
  head
    title Profilo di Lionel Messi
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container-fluid.text-center
      h1 Profilo di Lionel Messi
      img(src="/img/Messi_vs_Nigeria_2018.jpg", alt="Immagine di Lionel Messi" class="img-fluid rounded-circle mt-4 mb-4")
      
      p Nazionalità: Argentina
      p Data di nascita: 24 giugno 1987
      p Ruolo: Attaccante / Centrocampista
      p BIOGRAFIA 
      p Piccola grande classe argentina
      p
      | Lionel Andrés Messi Cuccittini, da molti chiamato semplicemente Leo, nasce il 24 giugno 1987 a Rosario, nello stato argentino di Santa Fè.

      | Ha solo cinque anni quando inizia a tirare i primi calci alla palla. La sua prima squadra è quella del Grandoli, piccola scuola di calcio della sua città rivolta ai fanciulli. Ad allenare i ragazzi è Jorge Messi, impiegato metalmeccanico e padre del futuro campione.

      | All eta' di sette anni Lionel Messi indossa la maglia dei "Newell s Old Boys" e gioca nelle categorie giovanili.

      | Agli occhi degli appassionati di calcio che seguivano il ragazzino nei campetti di Rosario, già era chiaro il talento del giovane.

      | Il talento era talmente cristallino che le giovanili del blasonato club River Plate lo vollero.

      | A causa di un ritardo nello sviluppo osseo del ragazzo, dovuto al basso livello di ormoni della crescita presenti nel suo organismo, il passaggio sfuma.

      | Lionel Messi giovane

      | Lionel Messi da giovane

      | Viene consigliato alla famiglia ul trattamento medico che però è costosissimo: si parla di 900 dollari mensili; Jorge Messi chiede aiuto ai Newell s Old Boys e al River Plate senza ottenere soluzioni adeguate. Crede fortemente nel possibile futuro da campione di Lionel: chiede così soccorso ad alcune fondazioni.

      | A raccogliere l appello è la fondazione Acindar. A causa dei problemi economici che coinvolgono la famiglia - ma la situazione è analoga a numerosissime famiglie argnetine - il padre decide di emigrare in Spagna. Si mette in contatto con un cugino della moglie Celia, che abita a Lerida (città catalana sita nei pressi di Barcellona).

      | Nel settembre del 2000 Leo Messi effettua il primo provino con la prestigiosa società del Barcelona. È il tecnico Rexach, allenatore delle giovanili, ad osservarlo: rimane impressionato dalla tecnica e dai cinque gol realizzati da Messi.

      | L argentino firma immediatamente (pare che abbia firmato simbolicamente una salviettina) per il Barca.

      | Il club catalano si farà carico anche delle spese mediche per il trattamento che Lionel Messi necessita.

      | Il passaggio e l ascesa nelle varie categorie del Barcelona è velocissimo; Messi arriva a siglare l impressionante numero di 37 gol in 30 partite, e non è raro che in campo regali spettacolari magie.

      | Arriva così il debutto con la nazionale Argentina under 20; la partita è un'amichevole contro i giovani ragazzi del Paraguay. Leo Messi segna 2 goal.

      | È il 16 ottobre 2004 quando debutta nella Liga spagnola con la prima squadra del Barcelona nel derby contro l Espanyol (vincono gli azulgrana, 1-0).

      | Nel mese di maggio del 2005 Messi è il giocatore più giovane nella storia del club catalano (18 anni non ancora compiuti) a realizzare un goal nel campionato spagnolo.

      | Poche settimane più tardi inizia in Olanda il campionato del mondo under 20: Messi è protagonista con l Argentina. Segna 6 goal in 7 partite e porta la sua nazionale al trionfo finale. Ottiene inoltre il titolo di Miglior giocatore del torneo ("Adidas Gold Ball") e quello di Capocannoniere ("Adidas Golden Shoe").

      | Non è felice il suo debutto con la nazionale maggiore contro l Ungheria, a Budapest: Messi viene espulso dall arbitro dopo un solo minuto di gioco.

      | All inizio della successiva stagione clacistica spagnola, il Barcelona rinnova il contratto con il giovane talento, assicurandeselo fino al 2014. La clausola rescissoria è milionaria: il club che vorrà acquistare dai catalani il campione argentino, dovrà sborsare l astronomica cifra di 150 milioni di euro!

      | 169 centimetri per 67 chilogrammi, seconda punta, mancino, Messi è dotato di una grande accelerazione. Sia nel Barca che in nazionale viene impiegato come ala destra. Strepitoso nell uno contro, non è raro che arrivi vicino alla porta avversaria. In Spagna gioca e convive efficacemente con altri grandi campioni, quali Ronaldinho e Samuel Eto'o.

      | Tra i suoi successi vi sono due vittorie della Liga (2005 e 2006), una Supercoppa Spagnola (2005) e una Champions League (2006).

      | Purtroppo Messi ha saltato la finale di Champions contro l Arsenal, a causa di un infortunio rimediato contro il Chelsea.

      | "El Pulga" (la pulce), così soprannominato per via della sua ridotta statura fisica, è stata una delle attesissime stelle ai Mondiali di calcio di Germania 2006: l Argentina terminerà il mondiale ai quarti di finale, eliminata ai rigori dalla squadra di casa; l allenatore Pekerman ha utilizzato Messi solo per 15 minuti durante il girone iniziale: la giovane stella nel poco tempo disponibile ha comunque segnato un gol e fornito un assist per un'altra rete.

      | Diego Armando Maradona, parlando di Lionel Messi ed elogiando il suo talento, è arrivato a definirlo come proprio erede.

      | Nel 2008 partecipa con la nazionale argentina alle Olimpiadi di Pechino dove gioca da protagonista conquistando un prezioso oro olimpico. Il 27 maggio dell anno seguente porta il Barcellona a laurearsi campione d'Europa vincendo la finale di Champions League (giocata allo stadio Olimpico di Roma) contro il Manchester United di Cristiano Ronaldo: con un colpo di testa, Messi è l autore del gol del 2-0, rete che permette all argentino di conquistare anche il titolo di capocannoniere della competizione (9 goal totali).

      | All inizio del mese di dicembre del 2009 gli viene assegnato il Pallone d'Oro; la misura del merito appare cristallina nella classifica del premio: Messi superato di ben 240 punti il secondo classificato, il portoghese Cristiano Ronaldo, il quale era stato insignito dello stesso premio l anno precedente.

      | L annata si conclude in modo perfetto, tanto che meglio di così era veramente impossibile: Messi sigla infatti il gol (al 5° minuto del secondo tempo supplementare, 2-1 contro gli argentini dell Estudiantes) che consegna al Barcellona - per la prima volta nella sua storia - il Mondiale per Club. Ma non è finita, perché a lui va anche il premio Fifa World Player, assegnato dai commissari tecnici e dai capitani delle nazionali.

      | Nel 2010 ai mondiali di calcio sudafricani è protagonista nell Argentina guidata da Maradona. All inizio del 2011 viene premiato a sorpresa con il Pallone d'Oro, il secondo della sua carriera, classificandosi prima degli spagnoli Iniesta e Xavi, entrambe suoi compagni di squadra nel Barcellona.

      | A coronare la lunga serie di momenti positivi, alla fine del mese di maggio 2011, arriva la vittoria con il Barcellona della Champions League. All inizio di gennaio del 2012 arriva poi il terzo Pallone d'oro consecutivo; prima di lui era un record appartenente solo al francese Michel Platini, che nell occasione è stata proprio la persona a consegnarlo all argentino. Frantuma ogni primato quando un anno dopo viene nuovamente insignito di tale premio, il quarto Pallone d'oro: mai nessuno come lui.

      | Ai mondiali che si giocano in Brasile nel 2014, Messi è il capitano dell Argentina, leader che trascina la squadra fino alla finale mondiale che gioca contro la Germania. Purtroppo per lui non riesce a vincere l ambito trofeo che l avrebbe proiettato nell Olimpo della storia del calcio, insieme (o addirittura per molti, più su) al suo celebre connazionale Maradona.

      | Nel 2015 vince una nuova Champions League con il Barcellona, battendo la Juventus nella finale di Berlino. All inizio del 2016 riceve il 5° Pallone d'Oro. Il 6° arriva nel 2019.

      | Dopo 21 anni al Barcellona, nel mese di agosto 2021, annuncia il suo passaggio al Paris Saint-Germain. Alla fine del mese di novembre dello stesso anno viene premiato da France Football con il 7° Pallone d'Oro.

      | Alla fine del 2022 guida la nazionale argentina ai campionati mondiali del Qatar: porta la squadra a vincere il suo terzo titolo in una finale storica, per intensità ed emozioni, in cui Messi stesso è protagonista (batte la Francia di Mbappé ai rigori dopo un risultato finale di 3-3). Il giorno successivo il Corriere della Sera nelle sue pagelle gli dà voto 10 con l aggettivo: epico.

      | Nel 2023 riceve il Pallone d'oro per l ottava volta.
